*{
  box-sizing: border-box
}

body {
  background-color: white;
}

#Wrapper {
  /*
  position: absolute;
  top: 0;
  */
  background: url("..\\img\\wallpaper.jpg") no-repeat center top;
  height: 120px;
}

.welcome {
  text-align: center;
  color: black;
  top: 35px;
}

.btn.btn-primary.btn-lg.active {
  background-color: #f06d06;
}

.boot-links {
  /*
  position: relative;
  top: 25%;
  left: 20%;
  */
  margin: 5px;
}

.me-card {
  position: fixed;
  top: 170px;
  right:20px;
  border: 1px solid slategrey;
  margin-right: 20px;
  /*
  float: right;
  */
}

.content-selector {

  top: 300px;
  right:200px;
  margin-right: 20px;
}

#contents {
  float: right;
}
