*{
  box-sizing: border-box
}

body {
/*
  background-image: url("..\\img\\wallpaper.jpg");
*/
  background-color: white;
}

#Wrapper {
  background: url("..\\img\\wallpaper.jpg") no-repeat center top;
  height: 120px;
}

.welcome {
  text-align: center;
  color: black;
  top: 35px
}

.link {
  border: 1px solid black;
  color: #f06d06;
  padding: 5px;
  margin: 5px;
  text-align: left;
}

.boot-links {
  margin: 5px;
  top: 5px
}

.me-card {
  border: 1px solid slategrey;
  margin-right: 20px;
  float: right;

}
